li:hover {
  background-color: #00796b;
  cursor: pointer;
}

li a {
  color: #009688;
}

li:hover a {
  color: white;
}

.btn-outline-success {
  margin-top: 10rem;
}

.delete-item:hover {
  background-color: #00caaf7c;
}

.specialization {
  color: #698683;
  font-size: medium;
  margin-left: 1rem;
}
